<div class="card mb-4">
  <div class="card-img-wrapper">
    <img src="https://d1nhio0ox7pgb.cloudfront.net/_img/o_collection_png/green_dark_grey/256x256/plain/user.png" alt="operator" class="card-image-top">
    <ul class="list-inline member-icons animate text-center">
      <p *ngIf="user.name=='cross'">TEST OPERATOR! CLICK HERE</p>
      <li class="list-inline-item" [routerLink]="['/operators/', user.id]"><i class="fa fa-user fa-2x"></i></li>
      <li class="list-inline-item mr-3"><i class="fa fa-envelope fa-2x"></i></li>
    </ul>
  </div>
  <div class="card-body p-1">
    <h6 class="card-title text-center mb-1"><i class="fa fa-user"></i>{{user.name}} {{user.surname}}</h6>
    <p class="card-text text-muted text-center">{{user.department == 1? "Supplied" : (user.department == 2? "Retail" : (user.department == 3? "Plus" : "Books"))}}</p>
  </div>
</div>